<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Movements</title>
    <style>
        nav {
            height: 100vh;
        }
        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }
    </style>
</head>
<body>
    <div class="d-flex">
        <header th:insert="layouts/layout-main :: navbar"></header>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Ingresos y Egresos</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center pt-3 pb-2 mb-3">
                <a href="/enterprisesNew" class="btn btn-success">Agregar Nuevo Movimiento</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Concepto</th>
                            <th scope="col" class="text-align-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="movement : ${movements}">
                            <td th:text="${movement.id}"></td>
                            <td th:text="${movement.amount}"></td>
                            <td th:text="${movement.concept}"></td>
                            <td>
                                <a class="btn btn-primary">
                                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#edit"/></svg>
                                    Editar
                                </a>
                                <a class="btn btn-danger">
                                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#delec"/></svg>
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
